.summary-list {
  background: #e0fbe5;
  border-radius: 10px;
  box-shadow: 0 0 4px #b2ddb2;
  min-width: 320px;
  padding: 20px;          
  min-height: 360px;    
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
}

.calorie-summary {
  text-align: center;
  width: 100%;
}

.cal-val {
  font-size: 2.4em;        
  color: #23bd23;
  font-weight: bold;
  margin-bottom: 12px;
}

.progress-bar {
  background: #b8ebb4;
  border-radius: 9px;
  height: 16px;
  margin-top: 10px;
  display: none; 
}

.progress-bar .fill {
  background: #44c344;
  height: 100%;
  border-radius: 9px;
}
